.node {
  width: 25px;
  height: 25px;
  outline: 1px solid #d3d3d3;
  display: inline-block;
}

.startNode {
  background-color: green;
}

.endNode {
  background-color: red;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 5;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #fffb01ed;
  }
  /* 
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  } */

  100% {
    transform: scale(1);
    background-color: rgb(221, 188, 4);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(115, 209, 27);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(115, 209, 27);
  }

  100% {
    transform: scale(1);
    background-color: rgb(115, 209, 27);
  }
}
